body{
    margin:0;
    padding:0;
    background:#eef3ff;
    font-family:Arial, Helvetica, sans-serif;
}

.courses-container{
    padding:50px;
}

.courses-title{
    text-align:center;
    font-size:40px;
    color:#1e3a8a;
    margin-bottom:40px;
}

.course-list{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:35px;
}

.course-card{
    width:320px;
    background:#fff;
    border-radius:20px;
    overflow:hidden;
    box-shadow:0 10px 30px rgba(0,0,0,.15);
    transition:.4s;
}

.course-card:hover{
    transform:translateY(-12px);
    box-shadow:0 20px 40px rgba(0,0,0,.25);
}

.course-card img{
    width:100%;
    height:180px;
    object-fit:cover;
}

.course-content{
    padding:20px;
}

.course-content h2{
    margin:0;
    color:#1e3a8a;
    font-size:24px;
}

.course-content p{
    color:#555;
    margin:15px 0;
    line-height:24px;
}

.level{
    display:inline-block;
    background:#e0e7ff;
    color:#1e40af;
    padding:6px 15px;
    border-radius:20px;
    font-size:14px;
    font-weight:bold;
}

.course-footer{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-top:20px;
}

.price{
    color:#0f766e;
    font-size:22px;
    font-weight:bold;
}

.enroll-btn{
    border:none;
    background:#2563eb;
    color:white;
    padding:10px 20px;
    border-radius:10px;
    cursor:pointer;
    font-size:15px;
    transition:.3s;
}

.enroll-btn:hover{
    background:#1d4ed8;
}